<div class="container" style="padding-top:20px">
        <div class="blue-text text-darken-2"><h3>Profile Information <a class="btn-floating cyan" routerLink='/sensor/info/1'><i class="material-icons">edit</i></a></h3> </div>  
  <hr/>
<div class="row"> <div class="col s6"> First name : <b> {{info.first_name}} </b></div>  <div class="col s6"> Last name : <b> {{info.last_name}} </b> </div> </div>
<div class="row"> <div class="col s6"> CIN :<b> {{info.cin}} </b> </div>  <div class="col s6"> Phone : <b> {{info.tel}} </b></div> </div>
<div class="row"> <div class="col s6"> Adresse : <b> {{info.adresse}} </b> </div>  <div class="col s6"> City : <b> {{info.city}} </b> </div> </div>
<div class="row"> <div class="col s6"> Job : <b> {{info.job}} </b></div>  <div class="col s6"> Birthday : <b> {{info.dn}} </b></div> </div>
<br/>
<br/>


</div>


